<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>MercadoLiebre</title>
</head>
<body>
    <header>
        <section class="header-section">
            <article class="header-article">
                <div class="contenedor-logo">
                    <img src="/images/logo-mercado-liebre.svg" alt="Logo">
                    <div class="header-buscador">
                        <input type="text" placeholder="Buscar productos, marcas">
                        <button>
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
                <h4> 
                    <i class="fas fa-hand-holding-usd"></i>
                    Comprá en cuotas y sin tarjeta de crédito
                </h4>
            </article>

            <nav>
                <ul class="lista">
                    <li><a href="#"><b>Ofertas</b></a></li>
                    <li><a href="#"><b>Tiendas Oficiales</b></a></li>
                    <li><a href="#"><b>Vender</b></a></li>
                    <li><a href="#"><b>Ayuda</b></a></li>
                </ul>
                <ul class="lista login">
                    <li><a href="register"><b>Creá tu cuenta</b> <i class="fas fa-id-card"></i></a></li>
                    <li><a href="login"><b>Ingresá</b> <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#"><b>Mis Compras</b> <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
                <div class="bars">
                    <i class="fas fa-bars"></i>
                </div>
            </nav>
        </section>
    </header>
    <img src="/images/img-home-banner.jpg" alt="banner" class="main-banner">        
    <main>
        <section>
            <h2>Basado en tu última visita</h2>
            <div class="visita">
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera" id="imagen">
                    <div class="caja-inferior">
                        <div class="icon-envios">
                            <i class="fas fa-truck"></i>
                        </div>                   
                        <div class="caja-interna">
                            <p id="precios">$6.770</p>     
                            <p id="descuentos">40% OFF</p>    
                        </div>           
                        <h4>Cafetera Mouline</h4>                 
                    </div>
                </article>
                <article>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="cafetera" id="imagen">
                    <div class="caja-inferior">        
                        <div class="icon-envios">
                            <i class="fas fa-truck"></i>
                        </div>                   
                        <div class="caja-interna">
                            <p id="precios">$230.000</p>     
                            <p id="descuentos">20% OFF</p>    
                        </div>            
                        <h4>MacBook Pro 2019</h4>                
                    </div>
                </article>
                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="cafetera" id="imagen">
                    <div class="caja-inferior">
                        <div class="icon-envios">
                            <i class="fas fa-truck"></i>
                        </div>                   
                        <div class="caja-interna">
                            <p id="precios">$750.000</p>     
                            <p id="descuentos">10% OFF</p>    
                        </div>  
                        <h4>Samsung Galaxy S10</h4>               
                    </div>
                </article>
                <article>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="cafetera" id="imagen">
                    <div class="caja-inferior">
                        <div class="icon-envios">
                            <i class="fas fa-truck"></i>
                        </div>                   
                        <div class="caja-interna">
                            <p id="precios">$23.200</p>     
                            <p id="descuentos">5% OFF</p>    
                        </div>           
                        <h4>SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </div>
        </section>

        <section>
            <h2>Ofertas</h2>
            <div class="ofertas">
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera" id="imagen">
                    <div class="caja-inferior">
                        <div class="icon-envios">
                            <i class="fas fa-truck"></i>
                        </div>                   
                        <div class="caja-interna">
                            <p id="precios">$6.770</p>     
                            <p id="descuentos">40% OFF</p>    
                        </div>           
                        <h4>Cafetera Mouline</h4>                 
                    </div>
                </article>
                <article>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="cafetera" id="imagen">
                    <div class="caja-inferior">
                        <div class="icon-envios">
                            <i class="fas fa-truck"></i>
                        </div>                   
                        <div class="caja-interna">
                            <p id="precios">$230.000</p>     
                            <p id="descuentos">20% OFF</p>    
                        </div>           
                        <h4>MacBook Pro 2019</h4>
                    </div>
                </article>
                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="cafetera" id="imagen">
                    <div class="caja-inferior">
                        <div class="icon-envios">
                            <i class="fas fa-truck"></i>
                        </div>                   
                        <div class="caja-interna">
                            <p id="precios">$70.500</p>     
                            <p id="descuentos">10% OFF</p>    
                        </div>                               
                        <h4>Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="cafetera" id="imagen">
                    <div class="caja-inferior">
                        <div class="icon-envios">
                            <i class="fas fa-truck"></i>
                        </div>                   
                        <div class="caja-interna">
                            <p id="precios">$23.200</p>     
                            <p id="descuentos">5% OFF</p>    
                        </div>           
                        <h4>SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <footer class="main-footer">
        <section>
            <article>
                <i class="fas fa-credit-card"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>
                    Con Mercado Liebre Cash, tenés cuotas sin interés 
                    con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
                </p>
            </article>   
            <article> 
                <i class="fas fa-gift"></i>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.
                </p>
            </article>
            <article>
                <i class="fas fa-user-shield"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                </p>
            </article>
        </section>
        <article class="footer-copyright">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </article>
    </footer>
</body>
</html>
