footer {
  background-color: white;
}
footer section {
  margin: auto;
  text-align: center;
  width: 280px;
  padding-bottom: 30px;
}
footer section h4 {
  font-size: 16px;
}
footer section p {
  font-size: 12px;
}
footer section .fas {
  font-size: 2em;
  color: var(--celeste);
}
