footer section {
  margin: auto;
  text-align: center;
  width: 280px;
}

footer p:last-child {
  margin-top: 20px;
  margin-bottom: 20px;
}
footer section h4 {
  font-size: 16px;
}
footer section p {
  font-size: 12px;
}
footer section .fas {
  font-size: 40px;
  color: var(--celeste);
  margin: 10px;
  padding-top: 20px;
}
