header {
  background-color: var(--amarillo);
}
.contenedor-logo img {
  width: 50%;
  align-self: flex-start;
}
.contenedor-logo {
  display: flex;
  width: 90%;
  padding: 10px;
  gap: 3px;
}
.header-buscador {
  display: flex;
}
.header-buscador input {
  border: none;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  padding: 0;
}
.header-buscador button {
  border: none;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0;
}
.header-buscador input::placeholder {
  color: black;
  font-weight: 600;
  font-size: 12px;
  padding-left: 4px;
}
.lista {
  display: none;
  list-style: none;
}
.lista li a {
  text-decoration: none;
  color: black;
  font-size: 12px;
}

.login {
  margin-top: 10px;
}
header h4 {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
  font-size: 12px;
}
.bars {
  text-align: center;
}
.bars .fas {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;
  padding: 10px;
  border-radius: 8px;
  background-color: var(--celeste);
  color: white;
}
