main {
  background-color: var(--grisClaro);
}
main img {
  height: 100px;
  width: 100%;
}

main section h2 {
  text-align: center;
  font-size: 24px;
}
main section article {
  padding-left: 20px;
  margin: 30px;
}
main section article h4 {
  font-size: 16px;
}
#imagen {
  width: 300px;
  height: 300px;
}
#precios {
  font-size: 18px;
}
#descuentos {
  font-size: 16px;
}
