main {
  background-color: var(--grisClaro);
}
main section {
  margin-left: 15px;
}
.main-banner {
  height: 60px;
  width: 380px;
  padding-bottom: 20px;
}
main section h2 {
  font-size: 24px;
  padding-bottom: 10px;
}
main section article {
  margin-bottom: 10px;
}
main section article h4 {
  font-size: 16px;
  padding-top: 5px;
}
#imagen {
  width: 380px;
  height: 380px;
}
#precios {
  font-size: 18px;
}
#descuentos {
  font-size: 16px;
}
