main {
  width: 90%;
  margin: 0 auto;
}
.visita {
  display: flex;
  flex-wrap: wrap;
}
.visita article {
  background-color: white;
}
.ofertas {
  display: flex;
  flex-wrap: wrap;
}
.ofertas article {
  background-color: white;
}
main section article {
  margin-bottom: 10px;

}
.main-banner {
  width: 100%;
}
main section h2 {
  font-size: 24px;
  padding-bottom: 10px;
}
.caja-inferior {
  border-top: 1px solid #ebebeb;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}
.caja-inferior h4 {
  font-size: 12px;
  padding-top: 5px;
  display: none;
  align-self: flex-start;
}

.icon-envios {
  position: absolute;
  bottom: 50px;
}
.fa-truck {
  padding: 5px;
  background-color: white;
  color: #39b54a;
  border: 1px solid #39b54a;
  border-radius: 50%;
  font-size: 16px;
}
#imagen {
  width: 100%;
}
#precios {
  font-size: 12px;
  width: 40%;
}
#descuentos {
  font-size: 9px;
  color: var(--verde);
  width: 60%;
}
.caja-interna {
  width: 100%;
  display: flex;
  align-items: flex-start;
}



/* MOBILE */
@media (max-width: 320px){
  #precios {
    font-size: 18px;
    width: 30%;
  }
  #descuentos {
    font-size: 12px;
    width: 70%;
  }  
}
/* TABLET */
@media (min-width: 361px) {
  /* main */ 
  .caja-inferior h4 {
    display: block;
  }
  main section article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 50%;
  }
  
}
/* DESKTOP */
@media (min-width: 769px){
  .visita article {
    width: 25%;
  }
  .ofertas article {
    width: 25%;
  }

}

