@import "./general.css";
@import "./header.css";
@import "./main.css";
@import "./footer.css";
@import "./register.css";
@import "./login.css";


/*
●Navegación en mobile (ancho mínimo 320 px) 
●Navegación en tablets (ancho mínimo 361 px) 
●Navegación en desktop (ancho mínimo 769 px)
*/


/* MOBILE */
@media (max-width: 320px){
  #precios {
    font-size: 18px;
    width: 30%;
  }
  #descuentos {
    font-size: 12px;
    width: 70%;
  }  
}
/* TABLET */
@media (min-width: 361px) {
  /* main */ 
  .caja-inferior h4 {
    display: block;
  }
  main section article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 50%;
  }
  /* header */
  .header-section nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 10px 20px 20px;
  }
  .lista {
    display: block;
    margin: 0;
    padding: 0;
    display: flex;
  }
  .lista li {
    margin: 5px;
  }
  .lista li a {
    font-size: 7px;
  }
  .bars {
    display: none;
  }
  .header-section {
    padding-top: 30px;
  }
  .header-article {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
  }
  .header-article h4 {
    width: 40%;
    font-size: 6px;
  }
  .contenedor-logo {
    width: 60%;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
  }
  .header-buscador {
    display: block;
    display: flex;
    align-items: center;
  }
  .header-buscador input {
    border: none;
    width: 100px;
    margin: 5px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
  .header-buscador button {
    border: none;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    padding: 0;
    margin: 0;
    height: 15px;
  }
  .fa-search {
    padding: 0;
    margin: 0;
    
  }
  .header-buscador input::placeholder {
    color: black;
    font-weight: 600;
    font-size: 12px;
    padding-left: 4px;
  }
}
/* DESKTOP */
@media (min-width: 769px){
  .visita article {
    width: 25%;
  }
  .ofertas article {
    width: 25%;
  }
  .header-buscador input {
    width: 150px;
  }
  .header-article h4 {
    font-size: 12px;
  }
  .lista li a {
    font-size: 12px;
  }

}